<div class="container-fluid">
  <h1>{{title}}</h1>
  <div class="row">
    <canvas id="createjs" height="400" width="400"></canvas>
    <button ng-click="$ctrl.zum()" translate>soundJs</button>
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        <span translate>Search:</span>
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        <span translate>Sort by:</span>
        <select ng-model="$ctrl.orderProp">
          <option value="name" translate>Alphabetical</option>
          <option value="age" translate>Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail phone-list-item">
          <a href="#!/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
          </a>
          <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
